:root {
    --bg: #0f1115;
    --card: rgba(65, 72, 104, 0.75);
    --border: rgba(255, 255, 255, 0.15);
    --text: #eaeaf0;
    --muted: #b5b5c5;
    --accent: rgba(70,70,105,0.9);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at top, #1a1c23, #0f1115);
    font-family: "JetBrains Mono", monospace;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px 0 25px;
    font-size: 2rem;
    color: white;
    animation: slideDown 0.8s ease-out forwards;
}

.post {
    width: 100%;
    max-width: 520px;
    padding: 18px 20px;
    margin-bottom: 30px;
    background: var(--card);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border);
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);

    animation: slideDown 0.8s ease-out forwards;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    display: -webkit-box;        
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;       
    overflow: hidden;                
    text-overflow: ellipsis;     
    transition: all 0.3s ease;

    word-wrap: break-word;      
    overflow-wrap: break-word;   
    word-break: break-word;
}

.post:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.65);
    -webkit-line-clamp: unset;  
    white-space: normal;

}

.post h2 {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: white;
}

.full-window {
    width: auto;
    height: calc(auto + 500px);
    overflow: auto;
    justify-content: center;
    align-items: center
}

.post p {
    margin: 6px 0;
    color: var(--muted);
    line-height: 1.6;
}

.post p:last-child {
    font-size: 0.85rem;
    opacity: 0.7;
}

@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



